/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* colors */
:root {
  --primary: #0077B6;
  --secondary: #90E0EF;
  --accent: #FFD60A;
  --background: #FBFBFB;
  --text: #333333;
  --text-sec: #666666;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 40px 18px 40px;
  background: linear-gradient(90deg, var(--primary) 0%, var(--secondary) 100%);
  box-shadow: 0 2px 14px rgba(0,0,0,0.07);
}

.logo {
  background: none;
  font-size: 2.2rem;
  font-weight: bold;
  color: #fff;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo::before {
  content: "🚌";
  font-size: 2.2rem;
  margin-right: 8px;
}

/* navbar */
.navbar {
  background: var(--background) !important;
  box-shadow: 0 2px 8px rgba(0,0,0,0.04);
  border-radius: 0 0 18px 18px;
  margin-bottom: 18px;
  padding: 0 40px;
  height: 60px;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: space-between;
}

.links {
  display: flex;
  flex-direction: row;
}

.nav-link {
  text-align: center;
  color: var(--primary) !important;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 8px 18px;
  border-radius: 8px;
  transition: background 0.2s, color 0.2s;
  margin-right: 30px;
  width: 120px
}

.nav-link:hover, .nav-link.active {
  background: var(--primary);
  color: var(--background) !important;
}

/* body */
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  background-color: #e3f6fc;
}


/* buttons */
.create-btn {
  background: var(--primary)   ;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 7px 18px;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 12px;
  transition: background 0.2s;
}

.create-btn:hover {
  background: #005f8a;
}